{% if cookiecutter.style == 'sass' %}
html, body
    margin: 0
    padding: 0
    border: 0
{% else %}
html, body {
    margin: 0;
    padding: 0;
    border: 0;
}
{% endif %}
{% if cookiecutter.style == 'sass' %}
$fontColor: #000000
$themeColor: #f5f5dc
{% elif cookiecutter.style == 'scss' %}
$fontColor: #000000;
$themeColor: #f5f5dc;
{% elif cookiecutter.style == 'css' %}
:root {
    --font-color: #000000;
    --theme-color: #f5f5dc;
}
{% endif %}
{% if cookiecutter.style == 'sass' %}
.app
    width: 100vw
    height: 100px
    color: $fontColor
    background-color: $themeColor
    display: flex
    justify-content: center
    align-items: center
{% else %}
.app {
    width: 100vw;
    height: 100px;
    {% if cookiecutter.style == 'scss' %}
    color: $fontColor;
    background-color: $themeColor;
    {% elif cookiecutter.style == 'css' %}
    color: var(--font-color);
    background-color: var(--theme-color);
    {% endif %}
    display: flex;
    justify-content: center;
    align-items: center;
}
{% endif %}