{% raw %}<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{% endraw %}{{ cookiecutter.project_name }}{% raw %}</title>
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>{% endraw %}
